
body {
  margin: 0;
  background: black;
  font-family: 'Adamina', serif;
  color: white;
  overflow: hidden;
}

/* NAV */
.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 30px;
  position: fixed;
  top: 15px;
  left: 50%;
  transform: translateX(-50%);
  width: 95%;
  max-width: 1000px;
  z-index: 1000;

  background: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);

  border-radius: 12px;
}

.nav-links {
  display: flex;
  gap: 20px;
}

.nav a {
  color: white;
  text-decoration: none;
  font-size: 16px;
}

.nav a:hover {
  color: red;
}

/* PAGE WRAPPER (centers everything) */
.page-wrapper {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 70px;
  box-sizing: border-box;
}

/* SCROLL BOX (your actual page content) */
.scroll-box {
  width: 90%;
  max-width: 900px;
  height: 80vh;

  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);

  border-radius: 20px;
  padding: 30px;
  overflow-y: auto;
  box-sizing: border-box;

  .about {
    text-align: center;
  }
  
}

/* MOBILE */
@media (max-width: 768px) {
  .scroll-box {
    width: 95%;
    height: 85vh;
    padding: 20px;
  }

  .nav a {
    font-size: 14px;
  }
  
/* Background Text */
  .bg-text {
  position: fixed;
  bottom: 20px;
  left: 20px;

  font-family: 'Sedgwick Ave Display', cursive;
  font-size: 40px;
  color: red;

  opacity: 0.7;
  z-index: 9999;
  pointer-events: none;
}
}
